<style>
    .pop-up-outer {
        background-color: rgb(0, 0, 0, 0.5);
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: none;
    }
    .pop-up {
        background: {{bg_color}};
        color: white;
        padding: {{padding}};
        display: none;
        position: fixed;
        left: 50%;
        top: 50%;
        width: 90%;
        max-width: 480px;
        height: auto;
        z-index: 99;
        transform: translate(-50%, -50%);
    }
    .pop-up-close {
        position: absolute;
        top: -13px;
        right: -13px;
        background: {{bg_color}};
        width: 20px;
        height: 20px;
        border-radius: 999px;
    }
    .pop-up-close:after {
        content: '\00D7';
        position: absolute;
        top: -2px;
        left: 5px;
        color: white;
        width: 20px;
        height: 20px;
        font-size: 20px;
        line-height: 20px;
    }
    .pop-up-close:hover {
        opacity: 0.8;
    }
    .pop-up-img a {
        display: block;
    }
    .pop-up-img img {
        display: table;
        width: 100%;
    }
</style>

<div class="pop-up-outer">
    <div class="pop-up">
        <a class="pop-up-close" href="javascript:void(0)" onclick="SetPopUp()"></a>
        <div class="pop-up-img">
            <a href="{{url}}" onclick="SetPopUp()"><img src="{{image}}"></a>
        </div>
    </div>
</div>



<script>
    window.onload = function() {
        if (typeof(Storage) !== "undefined") {
            if ( ! localStorage.getItem('PopUp') ) {
                document.querySelector('.pop-up').style.display = 'block';
                document.querySelector('.pop-up-outer').style.display = 'block';
                document.querySelector('body').style.overflow = 'hidden';
            }
        }
    }
	window.onclick = function(e) {
		if (!document.querySelector('.pop-up').contains(e.target)){
			SetPopUp();
		}
	}
    function SetPopUp() {
        localStorage.setItem('PopUp', Date.now());
        document.querySelector('.pop-up').style.display = 'none';
        document.querySelector('.pop-up-outer').style.display = 'none';
        document.querySelector('body').style.overflow = 'auto';
    }
</script>